/* Workspace Background */
body {
    background-color: #1e1e2e; /* Main workspace background color */
    color: #c0caf5; /* Default text color */
  }
  
  /* File Search Background */
  .workspace-split.mod-left-split .nav-files {
    background-color: #0c58f1; /* Background color for file search */
    color: #d8dee9; /* Text color in the file search sidebar */
  }
  
  .workspace-split.mod-left-split .nav-files .nav-file-title {
    color: #88c0d0; /* File title color */
  }
  
  .workspace-split.mod-left-split .nav-files .nav-file-title:hover {
    color: #81a1c1; /* Hover effect for file titles */
  }
  
  /* Title Bar */
  .titlebar {
    background-color: #e9f0ff; /* Title bar background color */
    color: #eceff4; /* Title bar text color */
  }
  
  .titlebar .title {
    color: #88c0d0; /* Active window title color */
  }
  
  .titlebar .title:hover {
    color: #81a1c1; /* Hover effect for the title */
  }
  